/* div { border: 1px solid gray; } */
#motif-text-clear-button {
  font-size: 1.5rem;
}
#motif-image {
  display: block;
  margin: 20px auto;
  border: 1px solid #ccc;
}
#motif-canvas {
  display: block;
  margin: 20px auto;
  border: 1px solid #ccc;
}
#left-info h3, #left-info li, #right-info h3, #right-info li {
  color: #999;
}
#left-info li, #right-info li {
  font-size: 0.8rem;
}
#right-info li {
  float: right !important;
  clear: right;
}
.motif-text {
  font-family: 'Courier New', Courier, monospace;
}
#footer {
  padding-top: 2rem;
}
#footer p {
  color: #999;
  font-size: 0.8rem;
}
