/* div { border: 1px solid gray; } */
.motif-text-prompt {
  font-size: 1.4375rem;
  line-height: 1.4;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin: 0.2rem 0 0.5rem;
  padding: 0;
}
#motif-text-clear-button {
  font-size: 1.5rem;
  padding-left: 0.2rem;
}
#motif-image-container img {
  display: block;
  margin: 20px auto;
  border: 1px solid #ccc;
}
#motif-canvas {
  display: block;
  margin: 20px auto;
}
#left-info h3, #left-info li, #right-info h3, #right-info li {
  color: #666;
}
#left-info li, #right-info li {
  font-size: 0.8rem;
}
.motif-text {
  font-family: 'Courier New', Courier, monospace;
}
#footer {
  padding-top: 2rem;
}
#footer p {
  color: #666;
  font-size: 0.8rem;
}

@media only screen and (min-width: 40.063em) {
  #right-info {
    text-align: right !important;
  }
  #right-info h4 {
    clear: right;
  }
  #right-info li {
    float: right !important;
    clear: right;
  }
} /* min-width 641px, medium screens */
